// body {
//     background-color: $main-bg;
//     color: $main-colour;
//     font-size: $main-size;
//     // more generic rules here
// }
body {
    background-color: #633fb5;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}