    // .hidden {
    //     font-family: 'Cabin Sketch', cursive;
    //     justify-content: center;
    //     // text-transform: uppercase;
    //     background-color: rgb(231, 150, 20);
    //     display: grid;
    //     color: rgb(249, 245, 204);
    //     text-align: center;
    //     padding-bottom: 20px;
    //     padding-top: 20px;
    //     // text-decoration: none;
    //     font-size: 40px;
    // }
    
    .hidden:hover {
        background-color: rgb(105, 66, 3);
        color: rgb(249, 245, 204);
        cursor: pointer;
        font-style: italic;     
    }